<h3 id="main-header">Interactive Generation of Counterfactuals for Time Series</h3>

<div *ngIf="firstDataLoaded" id="main-visualization">
    <mat-grid-list cols="3" rowHeight="fit" style="height: 100%">
        <mat-grid-tile rowspan="10">
            <app-scatter-plot [settings]="projectedTimeSeries" style="width: 100%; height: 100%"> </app-scatter-plot>
        </mat-grid-tile>
        <mat-grid-tile rowspan="10">
            <app-scatter-plot [settings]="projectedActivations" style="width: 100%; height: 100%"> </app-scatter-plot>
        </mat-grid-tile>
        <mat-grid-tile rowspan="10">
            <app-scatter-plot [settings]="projectedAttributions" style="width: 100%; height: 100%"> </app-scatter-plot>
        </mat-grid-tile>
        <mat-grid-tile colspan="3" rowspan="1">
            <button mat-stroked-button color="primary" (click)="setColorMode(1)" style="width: calc(50% - 30px)">
                Set color to labels
            </button>
            <button mat-stroked-button color="primary" (click)="setColorMode(2)" style="width: calc(50% - 30px)">
                Set colors to predictions
            </button>
        </mat-grid-tile>
        <mat-grid-tile colspan="3" rowspan="8">
            <app-line-plots style="width: 100%; height: 100%"></app-line-plots>
        </mat-grid-tile>
    </mat-grid-list>
</div>

<mat-progress-bar *ngIf="isRequestPending" mode="indeterminate" id="bottom-progress"></mat-progress-bar>
